<div id="tsc_pricingtable01" class="clear">
    <div class="plan" id="most-popular">
      <h3>Running Activities<span><%=@statistics[:total_count]%></span></h3>
      <ul>
        <% @statistics.each do |key, val| %>
            <% if key == :weekly_avg %>
                <li><b><%= val %></b> Average runs per week</li>
            <% elsif key == :avg_duration %>
                <li><b><%= ChronicDuration.output(val.round(2), :format =>:long) %></b> Average run duration</li>
            <% elsif key == :avg_speed %>
                <li><b><%= number_with_precision(val, :percision => 2) %> m/s</b> Average speed of run</li>
            <% end %>
        <% end %>
      </ul>
    </div>
</div>
